# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#

#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

iOS/airbnb/.swiftlint.yml
iOS/airbnb/airbnb/Pods/Manifest.lock
iOS/airbnb/airbnb/Pods/Pods.xcodeproj/project.pbxproj
iOS/airbnb/airbnb/Pods/SnapKit/LICENSE
iOS/airbnb/airbnb/Pods/SnapKit/README.md
iOS/airbnb/airbnb/Pods/SnapKit/Sources/Constraint.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintAttributes.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintConfig.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintConstantTarget.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintDescription.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintDirectionalInsets.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintDirectionalInsetTarget.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintDSL.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintInsets.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintInsetTarget.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintItem.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintLayoutGuide+Extensions.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintLayoutGuide.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintLayoutGuideDSL.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintLayoutSupport.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintLayoutSupportDSL.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintMaker.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintMakerEditable.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintMakerExtendable.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintMakerFinalizable.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintMakerPrioritizable.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintMakerRelatable+Extensions.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintMakerRelatable.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintMultiplierTarget.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintOffsetTarget.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintPriority.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintPriorityTarget.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintRelatableTarget.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintRelation.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintView+Extensions.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintView.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/ConstraintViewDSL.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/Debugging.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/LayoutConstraint.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/LayoutConstraintItem.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/Typealiases.swift
iOS/airbnb/airbnb/Pods/SnapKit/Sources/UILayoutSupport+Extensions.swift
iOS/airbnb/airbnb/Pods/SwiftLint/LICENSE
iOS/airbnb/airbnb/Pods/SwiftLint/swiftlint
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-acknowledgements.markdown
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-acknowledgements.plist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-dummy.m
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-frameworks-Debug-input-files.xcfilelist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-frameworks-Debug-output-files.xcfilelist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-frameworks-Release-input-files.xcfilelist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-frameworks-Release-output-files.xcfilelist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-frameworks.sh
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-Info.plist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb-umbrella.h
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb.debug.xcconfig
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb.modulemap
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb/Pods-airbnb.release.xcconfig
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-acknowledgements.markdown
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-acknowledgements.plist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-dummy.m
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-frameworks-Debug-input-files.xcfilelist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-frameworks-Debug-output-files.xcfilelist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-frameworks-Release-input-files.xcfilelist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-frameworks-Release-output-files.xcfilelist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-frameworks.sh
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-Info.plist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests-umbrella.h
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests.debug.xcconfig
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests.modulemap
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnb-airbnbUITests/Pods-airbnb-airbnbUITests.release.xcconfig
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnbTests/Pods-airbnbTests-acknowledgements.markdown
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnbTests/Pods-airbnbTests-acknowledgements.plist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnbTests/Pods-airbnbTests-dummy.m
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnbTests/Pods-airbnbTests-Info.plist
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnbTests/Pods-airbnbTests-umbrella.h
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnbTests/Pods-airbnbTests.debug.xcconfig
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnbTests/Pods-airbnbTests.modulemap
iOS/airbnb/airbnb/Pods/Target Support Files/Pods-airbnbTests/Pods-airbnbTests.release.xcconfig
iOS/airbnb/airbnb/Pods/Target Support Files/SnapKit/SnapKit-dummy.m
iOS/airbnb/airbnb/Pods/Target Support Files/SnapKit/SnapKit-Info.plist
iOS/airbnb/airbnb/Pods/Target Support Files/SnapKit/SnapKit-prefix.pch
iOS/airbnb/airbnb/Pods/Target Support Files/SnapKit/SnapKit-umbrella.h
iOS/airbnb/airbnb/Pods/Target Support Files/SnapKit/SnapKit.debug.xcconfig
iOS/airbnb/airbnb/Pods/Target Support Files/SnapKit/SnapKit.modulemap
iOS/airbnb/airbnb/Pods/Target Support Files/SnapKit/SnapKit.release.xcconfig
iOS/airbnb/airbnb/Pods/Target Support Files/SwiftLint/SwiftLint.debug.xcconfig
iOS/airbnb/airbnb/Pods/Target Support Files/SwiftLint/SwiftLint.release.xcconfig
